body {
  background-color:#260004;
}

hr {
  background-color: #000000;
  border-style: dotted none none none;
  border-width: 6px;
  border-color: rgb(98, 0, 255);
  height: 0px;
}

h1 {
  color: #b5f894;
}

a {
  color: rgb(86, 151, 33);
}

/*img{
    border: 3px dotted #6eff14; padding:1em
}*/

